
.admin-menu .menu{
    height: 100vh;
    padding: 0;
    -webkit-box-shadow: 10px -7px 5px -8px rgba(0,0,0,0.55);
    -moz-box-shadow: 10px -7px 5px -8px rgba(0,0,0,0.55);
    box-shadow: 10px -7px 5px -8px rgba(0,0,0,0.55);
    margin-top: -22px;
}
.admin-menu .menu li{
    font-size: 25px;
    font-weight: 400;
}
.admin-menu .menu .fa{
    float: right;
    margin: 5px;
}
a:hover{
    text-decoration: none;
}
.admin-menu .menu li:hover{
    background-color: #b3cf5f;
    color: white;
}
.admin-menu .menu .active{
    color: white;
    background-color: #b3cf5f;
}
table tbody tr th{
    text-align: center;
}
table tbody tr td{
    text-align: center;
}
.edit{
    font-size: 20px;
}