@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato|Oswald");
html {
  font-size: 10px;
  background: #fff;
  font-family: 'Lato', sans-serif;
  /* @include respond-to(medium-screens) { font-size: 9px;}
    @include respond-to(desk-screens) { font-size: 8px;} 
    @include respond-to(handhelds) { font-size: 8px;} */ }

body {
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 300; }

* {
  margin: 0;
  padding: 0;
  outline: none; }

ul {
  list-style: none !important; }

a {
  text-decoration: none;
  color: #2c3d50; }

a img {
  border: 0; }

section {
  margin: 0 auto !important;
  max-width: 1080px;
  /* @include respond-to(medium-screens) { padding: 0 10px; -webkit-box-sizing: border-box; // Safari <= 5
      -moz-box-sizing: border-box; // Firefox <= 19
           box-sizing: border-box;} 
            @include respond-to(desk-screens) { padding: 0 10px; -webkit-box-sizing: border-box; // Safari <= 5
      -moz-box-sizing: border-box; // Firefox <= 19
           box-sizing: border-box;} 
           @include respond-to(handhelds) { padding: 0 10px; -webkit-box-sizing: border-box; // Safari <= 5
      -moz-box-sizing: border-box; // Firefox <= 19
           box-sizing: border-box;}*/ }

.head_wrap {
  margin: 0 auto !important;
  max-width: 1190px;
  /*  @include respond-to(medium-screens) { padding: 0 10px; -webkit-box-sizing: border-box; // Safari <= 5
       -moz-box-sizing: border-box; // Firefox <= 19
            box-sizing: border-box;} 
             @include respond-to(desk-screens) { padding: 0 10px; -webkit-box-sizing: border-box; // Safari <= 5
       -moz-box-sizing: border-box; // Firefox <= 19
            box-sizing: border-box;} 
            @include respond-to(handhelds) { padding: 0 10px; -webkit-box-sizing: border-box; // Safari <= 5
       -moz-box-sizing: border-box; // Firefox <= 19
            box-sizing: border-box;} */ }

input, button {
  border: 0;
  outline: none !important; }

input[type="text"] {
  background: #fff;
  padding: 5px;
  border-radius: 8px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="submit"], input[type="button"], button {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 10px; }

.clearfix {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

::-webkit-input-placeholder {
  font-size: 15px;
  font-weight: 300;
  color: #949494;
  font-style: italic; }

:-moz-placeholder {
  font-size: 15px;
  font-weight: 300;
  color: #949494;
  font-style: italic; }

::-moz-placeholder {
  font-size: 15px;
  font-weight: 300;
  color: #949494;
  font-style: italic; }

:-ms-input-placeholder {
  font-size: 15px;
  font-weight: 300;
  color: #949494;
  font-style: italic; }

/* @include placeholder */
/* 
::-webkit-input-placeholder {color: rgba(255,255,255,0.5);}
::-moz-placeholder          {color: rgba(255,255,255,0.5);}
:-moz-placeholder          {color: rgba(255,255,255,0.5);}
:-ms-input-placeholder      {color: rgba(255,255,255,0.5);}

*/
#menu {
  position: fixed;
  left: 50px;
  top: 0;
  z-index: 333;
  height: 100vh; }
  #menu.active {
    height: auto;
    overflow: scroll; }
    #menu.active .bottom-info {
      position: relative;
      bottom: 0 !important; }
  #menu .buttons-menu {
    display: none;
    position: absolute;
    right: 10px;
    top: 20px;
    width: 15%;
    z-index: 3231;
    /*.close-menu{
      right: 0;
      top: 13px;
      display: inline-block;
      width: 100%;
      img{
        width: 100%;
      }
    }*/ }
    @media only screen and (max-width: 1000px) {
      #menu .buttons-menu {
        display: block; } }
    #menu .buttons-menu .open-menu {
      right: 0;
      top: 13px;
      display: inline-block;
      width: 100%;
      background: url(../img/menu_butt.png) center center no-repeat;
      height: 50px;
      width: 50px;
      background-size: contain; }
      #menu .buttons-menu .open-menu.actives {
        background: url(../img/close_butt.png) center center no-repeat;
        height: 40px;
        width: 40px;
        background-size: contain; }
      #menu .buttons-menu .open-menu img {
        width: 100%; }
  @media only screen and (min-width: 1000px) and (max-width: 1449px) {
    #menu {
      left: 20px; } }
  @media only screen and (max-width: 1000px) {
    #menu {
      left: 0;
      right: 0;
      background: #fff;
      top: 0;
      bottom: 0;
      padding: 20px;
      height: 56px;
      overflow: hidden; } }
  @media only screen and (max-width: 1000px) {
    #menu.menu-black .loggo-main {
      margin: 0;
      text-align: left;
      margin-bottom: 37px; } }
  #menu.menu-black .loggo-main .imag {
    display: none; }
    #menu.menu-black .loggo-main .imag.hidden {
      display: block; }
  #menu.menu-black ul li {
    color: #000; }
    @media only screen and (max-width: 1000px) {
      #menu.menu-black ul li {
        display: block;
        margin-bottom: 23px; } }
    #menu.menu-black ul li.active a {
      background: #a8d055;
      padding: 7px 50px;
      margin-left: -50px; }
    #menu.menu-black ul li a {
      color: #000; }
      @media only screen and (max-width: 1000px) {
        #menu.menu-black ul li a {
          width: 80%;
          margin: 0 auto;
          margin-bottom: 37px; } }
  @media only screen and (max-width: 1000px) {
    #menu.menu-black .bottom-info {
      bottom: 50px;
      width: 90%;
      box-sizing: border-box; } }
  #menu.menu-black .bottom-info .bottom-info-item span {
    color: #000; }
  #menu.menu-black .bottom-info .links-soc {
    border-top: 1px solid #000; }
    #menu.menu-black .bottom-info .links-soc a {
      color: #000; }
  #menu .loggo-main {
    margin-bottom: 60px;
    margin-top: 40px;
    display: block; }
    @media only screen and (min-width: 1000px) and (max-width: 1449px) {
      #menu .loggo-main {
        margin-top: 20px;
        margin-bottom: 0; } }
    @media only screen and (max-width: 1000px) {
      #menu .loggo-main {
        margin: 0;
        text-align: left;
        margin-bottom: 37px; } }
    #menu .loggo-main .imag {
      display: block; }
      @media only screen and (max-width: 1000px) {
        #menu .loggo-main .imag {
          display: none; } }
      #menu .loggo-main .imag.hidden {
        display: none; }
        @media only screen and (max-width: 1000px) {
          #menu .loggo-main .imag.hidden {
            display: block; } }
    #menu .loggo-main img {
      width: 100%; }
  #menu ul li {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    margin-bottom: 40px; }
    @media only screen and (min-width: 1000px) and (max-width: 1449px) {
      #menu ul li {
        margin-bottom: 20px; } }
    @media only screen and (max-width: 1000px) {
      #menu ul li {
        display: block;
        margin-bottom: 23px;
        color: #000; } }
    #menu ul li a {
      color: #ffffff;
      font-family: 'Oswald', sans-serif; }
      @media only screen and (max-width: 1000px) {
        #menu ul li a {
          color: #000;
          width: 80%;
          margin: 0 auto;
          margin-bottom: 37px; } }
  #menu .bottom-info {
    position: absolute;
    bottom: 50px; }
    @media only screen and (max-width: 1000px) {
      #menu .bottom-info {
        bottom: 50px;
        width: 90%;
        position: relative; } }
    #menu .bottom-info .bottom-info-item {
      margin-bottom: 20px; }
      #menu .bottom-info .bottom-info-item span {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        display: block; }
        @media only screen and (max-width: 1000px) {
          #menu .bottom-info .bottom-info-item span {
            color: #000; } }
    #menu .bottom-info .links-soc {
      padding-top: 20px;
      border-top: 1px solid #fff; }
      @media only screen and (max-width: 1000px) {
        #menu .bottom-info .links-soc {
          border-top: 1px solid #000; } }
      #menu .bottom-info .links-soc a {
        color: #ffffff;
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin-right: 38px; }
        @media only screen and (max-width: 1000px) {
          #menu .bottom-info .links-soc a {
            color: #000; } }

@media only screen and (max-width: 1000px) {
  .main-top {
    margin-top: 96px; } }
.main-top .fp-slides {
  position: absolute !important; }
.main-top .slide img {
  width: 100%; }
  @media only screen and (max-width: 1000px) {
    .main-top .slide img {
      height: 368px; } }

.main-head {
  position: relative;
  z-index: 2;
  margin-left: 17%;
  padding-top: 100px; }
  @media only screen and (max-width: 1000px) {
    .main-head {
      margin-left: 0;
      padding: 10px; } }
  .main-head.normal {
    padding-top: 0; }
  .main-head .top-left-text {
    width: 51%; }
    @media only screen and (min-width: 1000px) and (max-width: 1449px) {
      .main-head .top-left-text {
        width: 46%; } }
    @media only screen and (max-width: 1000px) {
      .main-head .top-left-text {
        width: 100%;
        float: none;
        text-align: center; } }
    .main-head .top-left-text .header-text {
      margin-bottom: 30px;
      width: 100%; }
      @media only screen and (min-width: 1000px) and (max-width: 1449px) {
        .main-head .top-left-text .header-text {
          margin-bottom: 10px; } }
      @media only screen and (max-width: 1000px) {
        .main-head .top-left-text .header-text {
          margin-bottom: 20px; } }
      .main-head .top-left-text .header-text p {
        text-shadow: 0 0 12px rgba(1, 17, 29, 0.38);
        color: #ffffff;
        font-family: 'Oswald', sans-serif;
        font-size: 100px;
        font-weight: 600;
        line-height: 120px;
        text-transform: uppercase;
        padding: 10px 20px;
        background: #b3cf5f;
        display: inline-block;
        margin-bottom: 10px; }
        @media only screen and (min-width: 1000px) and (max-width: 1449px) {
          .main-head .top-left-text .header-text p {
            font-size: 65px;
            font-weight: 600;
            line-height: 60px; } }
        @media only screen and (max-width: 1000px) {
          .main-head .top-left-text .header-text p {
            padding: 5px !important;
            font-size: 25px;
            line-height: 25px;
            margin-left: 0 !important; } }
        .main-head .top-left-text .header-text p:first-child {
          margin-left: -4px;
          padding-left: 24px; }
        .main-head .top-left-text .header-text p:nth-child(2) {
          margin-left: 4px;
          padding-left: 16px; }
        .main-head .top-left-text .header-text p:nth-child(3) {
          margin-left: -12px;
          padding-left: 32px; }
    .main-head .top-left-text span {
      color: #fffefe;
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
      display: block;
      margin-bottom: 31px;
      margin-left: 20px; }
      @media only screen and (min-width: 1000px) and (max-width: 1449px) {
        .main-head .top-left-text span {
          margin-bottom: 15px; } }
      @media only screen and (max-width: 1000px) {
        .main-head .top-left-text span {
          margin: 0;
          text-align: center; } }
    .main-head .top-left-text button {
      color: #ffffff;
      font-family: 'Oswald', sans-serif;
      font-size: 22px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 20px 25px;
      background: #b3cf5f;
      margin-left: 20px; }
      @media only screen and (min-width: 1000px) and (max-width: 1449px) {
        .main-head .top-left-text button {
          padding: 11px 25px; } }
      @media only screen and (max-width: 1000px) {
        .main-head .top-left-text button {
          margin-left: 0;
          padding: 10px;
          margin-top: 20px; } }
  .main-head .top-tight-img {
    margin-right: 50px; }
    @media only screen and (min-width: 1000px) and (max-width: 1449px) {
      .main-head .top-tight-img {
        margin-top: -80px; } }
    @media only screen and (max-width: 1000px) {
      .main-head .top-tight-img {
        display: none; } }
    .main-head .top-tight-img img {
      width: 100%;
      opacity: 0.5; }
      @media only screen and (min-width: 1000px) and (max-width: 1449px) {
        .main-head .top-tight-img img {
          width: 77%; } }

.fp-controlArrow.fp-prev {
  display: none !important; }

.fp-controlArrow.fp-next {
  display: none !important; }

.fp-slidesNav.bottom {
  right: 3%;
  left: auto;
  bottom: 50px; }
  @media only screen and (max-width: 1000px) {
    .fp-slidesNav.bottom {
      bottom: 10px;
      right: 0; } }

.fp-slidesNav ul li a span {
  border-radius: 0;
  position: absolute;
  z-index: 1;
  height: 14px;
  width: 14px;
  border: 0;
  background: #fff; }

.fp-slidesNav ul li a.active span {
  height: 14px;
  width: 14px;
  margin: -2px 0 0 -2px;
  border-radius: 0;
  background: #b3cf5f; }

.fp-slidesNav ul li:hover a span {
  opacity: 0.3;
  width: 14px;
  height: 14px;
  margin: -2px 0 0 -2px; }

.fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
  height: 14px;
  width: 14px;
  border-radius: 0;
  margin: -2px 0 0 -2px; }

.amenities .amenities-items {
  text-align: center; }
  .amenities .amenities-items .item {
    width: 20%;
    display: inline-block;
    text-align: left;
    margin: 67px 40px;
    vertical-align: top; }
    @media only screen and (min-width: 1000px) and (max-width: 1449px) {
      .amenities .amenities-items .item {
        width: 28%;
        margin: 10px 9px; } }
    @media only screen and (max-width: 1000px) {
      .amenities .amenities-items .item {
        width: 100%;
        margin: 0;
        text-align: center;
        margin-bottom: 20px; } }
    .amenities .amenities-items .item .img {
      height: 73px;
      margin-bottom: 20px; }
      @media only screen and (min-width: 1000px) and (max-width: 1449px) {
        .amenities .amenities-items .item .img {
          margin-bottom: 10px; } }
    .amenities .amenities-items .item p {
      color: #18141b;
      font-family: 'Oswald', sans-serif;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 20px; }
      @media only screen and (min-width: 1000px) and (max-width: 1449px) {
        .amenities .amenities-items .item p {
          margin-bottom: 10px; } }
    .amenities .amenities-items .item span {
      color: #241e28;
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
      width: 54%;
      display: block; }
      @media only screen and (max-width: 1000px) {
        .amenities .amenities-items .item span {
          width: 100%; } }

.map-right {
  width: 40%; }
  @media only screen and (min-width: 1000px) and (max-width: 1449px) {
    .map-right {
      width: 50%; } }
  @media only screen and (max-width: 1000px) {
    .map-right {
      width: 100%;
      float: none; } }

#map {
  height: 100vh;
  width: 100%; }
  @media only screen and (max-width: 1000px) {
    #map {
      height: 300px; } }
  #map div {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    /* IE 6-9 */ }

.left-map {
  position: relative;
  height: 100vh;
  width: 50%; }
  @media only screen and (max-width: 1000px) {
    .left-map {
      height: auto;
      width: 100%;
      float: none; } }
  .left-map .left-center {
    position: absolute;
    margin: auto;
    top: 50%;
    right: 0;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (min-width: 1000px) and (max-width: 1449px) {
      .left-map .left-center {
        width: 74%; } }
    @media only screen and (max-width: 1000px) {
      .left-map .left-center {
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
        transform: inherit; } }
  .left-map .top p {
    color: #18141b;
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px; }
    .left-map .top p span {
      padding: 3px;
      padding-right: 0;
      color: #fff;
      font-family: Arial;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      background: #00b93d;
      margin-right: 12px; }
      .left-map .top p span.different {
        background: #d46500; }
    .left-map .top p small {
      color: #241e28;
      font-size: 15px;
      font-weight: 300;
      font-style: italic; }
  .left-map .bottom {
    margin-top: 70px; }
    @media only screen and (max-width: 1000px) {
      .left-map .bottom {
        margin-top: 20px;
        margin-bottom: 20px; } }
    .left-map .bottom p {
      color: #241e28;
      font-size: 18px;
      font-weight: 300;
      line-height: 24px; }
      @media only screen and (max-width: 1000px) {
        .left-map .bottom p {
          text-align: center;
          line-height: 20px; } }

.last-section {
  margin-left: 0; }
  .last-section .slide .text {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 200px; }
    @media only screen and (min-width: 1000px) and (max-width: 1449px) {
      .last-section .slide .text {
        width: 75%;
        margin-bottom: 244px; } }
    @media only screen and (max-width: 1000px) {
      .last-section .slide .text {
        position: relative;
        width: 100%;
        margin-bottom: 20px; } }
    .last-section .slide .text:before {
      content: '“';
      color: #b3cf5f;
      font-family: 'Oswald', sans-serif;
      font-size: 166px;
      font-weight: 400;
      line-height: 26px;
      position: absolute; }
      @media only screen and (max-width: 1000px) {
        .last-section .slide .text:before {
          font-size: 78px;
          top: -10px; } }
    .last-section .slide .text p {
      position: relative;
      color: #241e28;
      font-size: 24px;
      font-weight: 300;
      line-height: 30px; }
      @media only screen and (max-width: 1000px) {
        .last-section .slide .text p {
          text-align: center;
          font-size: 19px; } }
  .last-section .slide .name {
    text-align: center; }
    @media only screen and (max-width: 1000px) {
      .last-section .slide .name {
        margin-bottom: 120px; } }
    .last-section .slide .name p {
      color: #241e28;
      font-size: 20px;
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase; }
    .last-section .slide .name span {
      font-weight: 300;
      line-height: 30px; }

.section-last {
  margin-left: 17%; }
  @media only screen and (max-width: 1000px) {
    .section-last {
      margin-left: 0; } }
  .section-last .fp-slidesNav {
    position: absolute;
    margin: auto;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    margin-left: 0 !important;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center; }
    @media only screen and (max-width: 1000px) {
      .section-last .fp-slidesNav {
        top: auto;
        right: auto;
        bottom: 19px;
        left: 50%;
        margin-left: 0 !important;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center; } }
    .section-last .fp-slidesNav ul li {
      width: auto;
      height: auto;
      margin: 0 auto;
      text-align: center; }
      .section-last .fp-slidesNav ul li:nth-child(2) a:after {
        content: '';
        background: url(../img/paca7.jpg) center center no-repeat;
        background-size: 70%;
        width: 140px;
        height: 140px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; }
        @media only screen and (max-width: 1000px) {
          .section-last .fp-slidesNav ul li:nth-child(2) a:after {
            width: 60px;
            height: 60px; } }
      .section-last .fp-slidesNav ul li:nth-child(3) a:after {
        content: '';
        background: url(../img/paca6.png) center center no-repeat;
        background-size: 70%;
        width: 140px;
        height: 140px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; }
        @media only screen and (max-width: 1000px) {
          .section-last .fp-slidesNav ul li:nth-child(3) a:after {
            width: 60px;
            height: 60px; } }
      .section-last .fp-slidesNav ul li:nth-child(4) a:after {
        content: '';
        background: url(../img/paca8.png) center center no-repeat;
        background-size: 70%;
        width: 140px;
        height: 140px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; }
        @media only screen and (max-width: 1000px) {
          .section-last .fp-slidesNav ul li:nth-child(4) a:after {
            width: 60px;
            height: 60px; } }
      .section-last .fp-slidesNav ul li:nth-child(5) a:after {
        content: '';
        background: url(../img/paca9.png) center center no-repeat;
        background-size: 70%;
        width: 140px;
        height: 140px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; }
        @media only screen and (max-width: 1000px) {
          .section-last .fp-slidesNav ul li:nth-child(5) a:after {
            width: 60px;
            height: 60px; } }
      .section-last .fp-slidesNav ul li a {
        display: block;
        position: relative;
        z-index: 1;
        width: 140px;
        height: 140px;
        cursor: pointer; }
        @media only screen and (max-width: 1000px) {
          .section-last .fp-slidesNav ul li a {
            width: 60px;
            height: 60px; } }
        .section-last .fp-slidesNav ul li a span {
          display: none; }
        .section-last .fp-slidesNav ul li a:after {
          content: '';
          background: url(../img/tipara.png) center center no-repeat;
          background-size: 70%;
          width: 140px;
          height: 140px;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0; }
          @media only screen and (max-width: 1000px) {
            .section-last .fp-slidesNav ul li a:after {
              width: 60px;
              height: 60px; } }
        .section-last .fp-slidesNav ul li a.active {
          width: 140px;
          height: 140px; }
          @media only screen and (max-width: 1000px) {
            .section-last .fp-slidesNav ul li a.active {
              width: 60px;
              height: 60px; } }
          .section-last .fp-slidesNav ul li a.active:after {
            background-size: 100%; }

#section1 {
  margin-left: 17%; }
  @media only screen and (max-width: 1000px) {
    #section1 {
      margin-left: 0; } }
  #section1 .main-head {
    margin-left: 0; }
    #section1 .main-head .slide .image-slide {
      height: 380px;
      margin-top: -62px; }
      @media only screen and (min-width: 1000px) and (max-width: 1449px) {
        #section1 .main-head .slide .image-slide {
          height: 250px;
          margin-top: -28px; } }
      @media only screen and (max-width: 1000px) {
        #section1 .main-head .slide .image-slide {
          height: 200px;
          margin-top: 20px;
          margin-bottom: 100px; } }
      #section1 .main-head .slide .image-slide img {
        width: 100%;
        height: 100%; }
    #section1 .main-head .slide .main-info {
      margin-top: 100px;
      padding-left: 40px;
      padding-right: 16%; }
      @media only screen and (min-width: 1000px) and (max-width: 1449px) {
        #section1 .main-head .slide .main-info {
          margin-top: 41px;
          padding-left: 0;
          padding-right: 2%; } }
      @media only screen and (max-width: 1000px) {
        #section1 .main-head .slide .main-info {
          margin-top: 20px;
          padding-left: 0;
          padding-right: 0; } }
      #section1 .main-head .slide .main-info .left-cost {
        margin-top: 50px; }
        @media only screen and (min-width: 1000px) and (max-width: 1449px) {
          #section1 .main-head .slide .main-info .left-cost {
            margin-top: 68px; } }
        @media only screen and (max-width: 1000px) {
          #section1 .main-head .slide .main-info .left-cost {
            text-align: left;
            margin: 0 auto;
            width: 100%;
            float: none; } }
        #section1 .main-head .slide .main-info .left-cost .top .left {
          margin-right: 14px; }
          @media only screen and (max-width: 1000px) {
            #section1 .main-head .slide .main-info .left-cost .top .left {
              display: none; } }
        @media only screen and (max-width: 1000px) {
          #section1 .main-head .slide .main-info .left-cost .top .right {
            float: none; } }
        #section1 .main-head .slide .main-info .left-cost .top .cost-top h2 {
          color: #241e28;
          line-height: 28px;
          font-family: 'Oswald', sans-serif;
          font-size: 33px;
          font-weight: 500;
          text-transform: uppercase;
          margin-bottom: 10px; }
          @media only screen and (min-width: 1000px) and (max-width: 1449px) {
            #section1 .main-head .slide .main-info .left-cost .top .cost-top h2 {
              line-height: 19px;
              font-size: 27px;
              margin-bottom: 5px; } }
        #section1 .main-head .slide .main-info .left-cost .top .cost-top p {
          font-size: 20px;
          font-weight: 400; }
        #section1 .main-head .slide .main-info .left-cost .top .cost-top .button {
          margin-bottom: 15px;
          margin-top: 10px; }
          @media only screen and (min-width: 1000px) and (max-width: 1449px) {
            #section1 .main-head .slide .main-info .left-cost .top .cost-top .button {
              margin-bottom: 5px;
              margin-top: 5px; } }
          #section1 .main-head .slide .main-info .left-cost .top .cost-top .button button {
            color: #ffffff;
            font-size: 18px;
            font-weight: 300;
            line-height: 16px;
            text-align: center;
            background: #ec296e; }
          #section1 .main-head .slide .main-info .left-cost .top .cost-top .button p {
            color: #241e28;
            font-size: 18px;
            line-height: 28px;
            font-weight: 700;
            display: inline-block;
            margin-left: 9px; }
            #section1 .main-head .slide .main-info .left-cost .top .cost-top .button p span {
              font-weight: 300;
              margin-left: 4px; }
        #section1 .main-head .slide .main-info .left-cost .top .cost-bot ul li {
          display: block;
          margin-bottom: 8px; }
          @media only screen and (min-width: 1000px) and (max-width: 1449px) {
            #section1 .main-head .slide .main-info .left-cost .top .cost-bot ul li {
              margin-bottom: 2px; } }
          #section1 .main-head .slide .main-info .left-cost .top .cost-bot ul li p {
            color: #241e28;
            font-size: 18px;
            font-weight: 300; }
            #section1 .main-head .slide .main-info .left-cost .top .cost-bot ul li p span {
              color: #241e28;
              font-size: 18px;
              font-weight: 700;
              /*!* Text style for "m" *!
              font-variant: small-caps;*/ }
        #section1 .main-head .slide .main-info .left-cost .button-main-cost {
          text-align: center; }
          #section1 .main-head .slide .main-info .left-cost .button-main-cost button {
            color: #302a33;
            border: 2px solid #302a33;
            text-align: center;
            font-size: 22px;
            font-family: 'Oswald', sans-serif;
            font-weight: 500;
            text-transform: uppercase;
            background: none; }
            @media only screen and (min-width: 1000px) and (max-width: 1449px) {
              #section1 .main-head .slide .main-info .left-cost .button-main-cost button {
                padding: 0 10px;
                font-size: 19px; } }
            @media only screen and (max-width: 1000px) {
              #section1 .main-head .slide .main-info .left-cost .button-main-cost button {
                text-align: center; } }
      @media only screen and (min-width: 1000px) and (max-width: 1449px) {
        #section1 .main-head .slide .main-info .right-cost {
          margin-top: 0px;
          width: 58%; } }
      @media only screen and (max-width: 1000px) {
        #section1 .main-head .slide .main-info .right-cost {
          display: none; } }
      #section1 .main-head .slide .main-info .right-cost img {
        width: 100%; }
        @media only screen and (min-width: 1000px) and (max-width: 1449px) {
          #section1 .main-head .slide .main-info .right-cost img {
            width: 80%; } }
  #section1 .fp-slidesNav {
    position: absolute;
    margin: auto;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 0;
    margin-left: 0 !important;
    transform: translate(0, -50%);
    width: 100%; }
    @media only screen and (max-width: 1000px) {
      #section1 .fp-slidesNav {
        top: 42%; } }
    #section1 .fp-slidesNav ul {
      margin-left: 41px;
      width: 370px; }
      @media only screen and (min-width: 1000px) and (max-width: 1449px) {
        #section1 .fp-slidesNav ul {
          margin-left: 0; } }
      @media only screen and (max-width: 1000px) {
        #section1 .fp-slidesNav ul {
          margin-left: 0;
          width: 100%; } }
      #section1 .fp-slidesNav ul li {
        width: auto;
        height: auto; }
        #section1 .fp-slidesNav ul li:nth-child(2) a:after {
          content: 'Avocado'; }
        #section1 .fp-slidesNav ul li:nth-child(3) a:after {
          content: 'Emerald'; }
        #section1 .fp-slidesNav ul li:nth-child(4) a:after {
          content: 'Olive'; }
        #section1 .fp-slidesNav ul li:nth-child(5) a:after {
          content: 'Lime'; }
        #section1 .fp-slidesNav ul li:nth-child(6) a:after {
          content: 'Kiwi'; }
        #section1 .fp-slidesNav ul li:nth-child(7) a:after {
          content: 'Wasabi'; }
        #section1 .fp-slidesNav ul li a:after {
          content: 'Mint';
          border: 1px solid #92e14f;
          color: #000;
          border-radius: 70px;
          padding: 3px 17px;
          font-size: 17px;
          font-weight: 300; }
          @media only screen and (max-width: 1000px) {
            #section1 .fp-slidesNav ul li a:after {
              padding: 3px 9px;
              font-size: 16px;
              font-weight: 300; } }
        #section1 .fp-slidesNav ul li a.active:after {
          background: #92e14f;
          color: #fff;
          border: 1px solid #92e14f; }
        #section1 .fp-slidesNav ul li a span {
          display: none; }

@media only screen and (max-width: 1000px) {
  .fp-tableCell, .fp-section {
    height: auto !important; } }

/*# sourceMappingURL=main.css.map */
