:root {
    --button-active:#b3cf5f ;
}
.left{
    float: left;
}
.right{
    float: right;
}
.width-100{
    width:100%
}
.width-50{
    width:50%
}
.padding-lr-10{
    padding:0 10px;
}
.padding-tb-10{
    padding: 10px 0;
}
a:hover{
    text-decoration: none;
}

.inner-container{
    padding: 50px 30px;
}
.inner-container img{
    height:40px;
}
.navi{
    padding: 0;
    height: 70vh;
}
.navi-item{
   padding: 10px 0;
    list-style: none;
}
.navi-item a:hover{


}
.navi-item a{
    color: black;
    text-transform: uppercase;
    cursor:pointer;
    font-size: 20px;
    line-height:35px;
    transition: font-size 1s;
    font-weight: 500;
}
.navi-item a:hover{
    font-size: 22px;
}